@charset "utf-8";
/* CSS Document */

.ad {
  margin:10px auto;
}
.ad ul {
  list-style: none;
  margin:0;
  padding:2px 0 0;
}
.ad li {
  margin:0 auto 8px;
  padding:0;
  text-align:center;
  height:50px;
  _margin-bottom:-3px;
}
.ad li img {
  width:150px;
  height:50px;
}
.ad li a img {
  border:1px solid #fff;
}
.ad li a:hover img {
  border:1px solid #777;
}

.ad img:hover {
  cursor:pointer;
}