@charset "utf-8";
/* css for mp */
@import url("i_tab.css");
@import url("i_marquee.css");
@import url("i_ad.css");

/* override old css style */
body {
  font-family: 微軟正黑體, "Microsoft JhengHei" !important;
}
/*#all { display: none; }*/

.left-block {
  width: 50%;
  float: left;
}
.right-block {
  width: 50%;
  float: right;
}
.footer-btn {
  padding: 0;
  border: solid 1px;
  border-radius: 5px;
  margin: 0px 5px;
  display: inline-block;
  width: 120px;
  text-align: center;
}

/* customized css here */

.sildeCtrl-btn {
  position: relative;
  left: 850px;
  top: 0px;
}

.title-logo {
  width: 80px;
}
.contact-logo {
  height: 40px;
  width: 40px;
}

.block-1, .block-2 {
  height: 400px;
}
.title {
  height: 200px;
}
.block-1 {
  background-color: #96C7C5;
}
.block-2 {
  background-color: white;
}
.web-map a {
  color: black;
}
.nav-link {
  padding: .5rem .7rem !important;
}
.date {
  float: right;
}
.map {
  width: 100%;
  height: 90%;
  border: none;
}
.web-map, .customed-search {
  height: 50%;
}
.site-map {
  min-height: 200px;
}
.site-map-btn {
  position: absolute;
  right: 0;
  z-index: 1;
  
}
@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(180deg); }
}
@-moz-keyframes rotate {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(180deg); }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}
.fa-angle-down {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s linear;
  -moz-transition: all  1s linear;
  -o-transition: all  1s linear;
  transition: all 1s linear;
}
.fa-angle-down.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s linear;
  -moz-transition: all  1s linear;
  -o-transition: all  1s linear;
  transition: all 1s linear;
}